* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }

header {
    background-color: cornflowerblue;
}
nav{
    background-color: palevioletred;
}
main{
    background-color: palegreen;
}
.sidebar{
    background-color: blueviolet;
}
footer{
    background-color: midnightblue;
}
h5{
    font-size: 16px;
}
.tablet{
    padding:0px;
}

@media only screen and (min-width: 768px){
    .tablet{
        display: flex;
    }
}

@media only screen and (min-width: 1366px){
    .tablet{
        justify-content: center;
    }

    main{
        width:1000px;
    }

    .sidebar{
        width: 366px;
    }

}


